.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.counterTitle{
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 13px;
}